@import '../../mixins';

.landing {
    min-height: 100vh;
    background: #0A81D1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.landing span {
    cursor: pointer;
}

.bubble-effect-top {
    height: 225px;
    width: 375px;
    border-radius: 50%;
    background: #076DB2;
    opacity: .7;
    position: absolute;
    top: -125px;
    left: -200px;
}

.logo {
    height: 100px;
}

.landing input {
    @include main-input-mobile;
}

.landing button {
    @include main-button-mobile;
}

.landing span {
    text-decoration: underline;
}

.bubble-effect-bottom {
    height: 225px;
    width: 375px;
    border-radius: 50%;
    background: #076DB2;
    opacity: .7;
    position: absolute;
    bottom: -125px;
    right: -200px;
}

@media(min-width: 400px){
    .bubble-effect-top, .bubble-effect-bottom {
        height: 250px;
        width: 400px;
    }
}

@media(min-width: 650px){
    .landing input {
        @include main-input-desktop;
    }

    .landing button {
        @include main-button-desktop;
    }
}