.message {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 20px;
    display: flex;
}

.message img {
    height: 60px;
    border-radius: 50%;
    background: lightblue;
    margin-right: 8px;
}

.sender {
    margin: 5px 0px;
    text-align: left;
    color: gray;
    font-weight: bold;
}

.message-text {
    margin: 0;
    text-align: left;
}