.main-header {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #0A81D1;
    color: white;
}

.header-desktop {
    display: none;
}

.header-mobile {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    margin-left: 10px;
}

.main-menu {
    margin-right: 10px;
}

.dropdown {
    height: 70px;
    width: 150px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    right: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}

.dropdown-links {
    height: 35px;
    width: 100%;
    text-decoration: none;
    color: black;
    margin: 3px 0;
    font-size: 18px;
    border-radius: 5px;
}

.dropdown-links:hover {
    background: darkgray;
    color: white;
}