.main-header {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #0A81D1;
    color: white;
}

.header-desktop {
    display: none;
}

.header-mobile {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    margin-left: 10px;
}

.logo-flex {
    display: flex;
    align-items: center;
}

.logo-flex h3 {
    font-size: 25px;
}

.header-logo {
    height: 25px;
    margin-left: 15px;
    margin-right: 8px;
}

.main-menu {
    margin-right: 10px;
}

.dropdown {
    height: 70px;
    width: 150px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    right: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}

.dropdown-links {
    height: 35px;
    width: 100%;
    text-decoration: none;
    color: black;
    margin: 3px 0;
    font-size: 18px;
    border-radius: 5px;
}

.dropdown-links:hover {
    background: darkgray;
    color: white;
}

@media(min-width: 1000px){
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-links {
        text-decoration: none;
        color: white;
        font-size: 22px;
        margin-right: 15px;
    }
    
    .desktop-links:hover {
        color: #D6D6D6;
    }

    .desktop-links:active {
        color: white;
    }
}