.main-header {
    height: 75px;
    background: #0A81D1;
}

.header-desktop {
    display: none;
}

.header-mobile {
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}