@import '../../mixins';

.side-menu {
    height: calc(100vh - 75px);
    width: 300px;
    box-sizing: border-box;
    padding-top: 10px;
    border: 1px solid lightgray;
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 2;
    background: white;
}

.side-menu button {
    @include main-button;
    width: 210px;
}

.modal-backdrop {
    height: calc(100vh - 75px);
    width: 100%;
    position: fixed;
    top: 75px;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.chat-group {
    height: 35px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-group img {
    margin: 0 2px;
}

.chat-links {
    width: 150px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-right: 6px;
}